rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /characters/{charId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.user == request.auth.uid;
    }
    match /parties/{partyId} {
      allow read: if true;
      allow write: if false;
    }
  }
}