* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #eee;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
	cursor: pointer;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}




.row {
	display: flex;
}

@media only screen and (max-width: 720px) {
	.row {
		flex-direction: column;
	}
	.row.field {
		flex-direction: row;
	}
	.row.group {
		margin-bottom: 1.25rem;
	}
	.row > .mobile-full {
		flex-basis: 100%;
	}
	.flex-1 {
		flex: 1;
	}
}

@media only screen and (min-width: 721px) {
	.flex-1,
	.flex-2,
	.flex-3 {
		flex: 1;
	}
	.flex-gutter {
		margin-left: 0.25rem;
		margin-right: 0.25rem;
	}
	.flex-gutter:first-child {
		margin-left: 0;
	}
	.flex-gutter:last-child {
		margin-right: 0;
	}
	.flex-2 {
		flex: 2;
	}
	.flex-3 {
		flex: 3;
	}
}


.actions {
	margin-bottom: 1rem;
}


.itemlist {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 0.5rem;

	list-style: none;
	margin: 1rem;
}

@media only screen and (min-width: 720px) {
	.itemlist {
		grid-template-columns: 1fr 1fr;
		margin: 2rem;
	}
}
@media only screen and (min-width: 1024px) {
	.itemlist {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.itemlist a {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	font-weight: bold;
	color: white;
	transition: background 0.2s;
}
.itemlist a:hover {
	text-decoration: none;
}

.avatar {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	margin-right: 1rem;
	background: rgba(0,0,0,0.2) center no-repeat;
	background-size: cover;
}



.content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 1rem;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.content--center {
	justify-content: center;
}
/*.content > * {
	max-height: 100%;
}*/




.section {
/*    padding: 0 0.25rem;*/
	background: rgba(188, 224, 204, 0.9);
	margin-bottom: 0.5rem;
}

.h2 {
	padding: 0.5rem;
	background: rgba(42, 54, 44, 0.9);
	color: white;
	font-size: 0.875rem;
	font-weight: normal;
	text-transform: uppercase;
	/*margin: 0 -0.25rem;*/
	margin: 0;
}

.p {
	color: rgba(42, 54, 44, 0.9);
	padding: 1rem;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.delete {
	color: inherit;
	background: none;
	border: none;
    cursor: pointer;
    padding: 0.4em;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
}
.delete:hover {
	background-color: rgba(255,0,0,0.2);
}