.sheet label {
	display: block;
	cursor: pointer;
}

.sheet input, 
.sheet button, 
.sheet select, 
.sheet textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.sheet input:disabled {
	color: #ccc;
}

.sheet input[type="range"] {
	height: 0;
}

.sheet button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

.sheet button:disabled {
	color: #999;
}

.sheet button:not(:disabled):active {
	background-color: #ddd;
}

.sheet button:focus {
	border-color: #666;
}


.row {
	display: flex;
}

@media only screen and (max-width: 720px) {
	.row {
		flex-direction: column;
	}
	.row.field {
		flex-direction: row;
	}
	.row.group {
		margin-bottom: 1.25rem;
	}
	.row > .mobile-full {
		flex-basis: 100%;
	}
	.flex-1 {
		flex: 1;
	}
}

@media only screen and (min-width: 721px) {
	.flex-1,
	.flex-2,
	.flex-3 {
		flex: 1;
	}
	.flex-gutter {
		margin-left: 0.25rem;
		margin-right: 0.25rem;
	}
	.flex-gutter:first-child {
		margin-left: 0;
	}
	.flex-gutter:last-child {
		margin-right: 0;
	}
	.flex-2 {
		flex: 2;
	}
	.flex-3 {
		flex: 3;
	}
}